.header {
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 90px;
        gap: 40px;
        background-color: #22333B;
    }

    &-logo {
        width: 56px;
        height: 56px;
        background: url(../../assets/images/logo.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        min-height: inherit;
    }

    &-page {
        position: relative;
    
        &__title {
            position: relative;
            z-index: 100;
            font-family: "Open Sans";
            font-size: 24px;
            font-weight: 600;
            color: #909090;

            cursor: pointer;
            transition: 300ms all ease-in-out;

            &:hover {
                color: #d6d6d6;
            }
        }
    }
}

.drop-down {
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    background-color: #22333B;
    transform: translateY(-100px);
    transition: 500ms all ease;

    &-active {
        opacity: 1;
        transform: translateY(0px);

        .drop-down__item {
            opacity: 1;
        }
    }

    &__item {
        display: flex;
        justify-content: center;

        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        color: #909090;
        opacity: 0;

        cursor: pointer;
        transition: 250ms all ease-in-out;

        &:hover {
            color: #d6d6d6;
        }
    }
}

.active {
    color: #d6d6d6;
}