.wrapper {
    background-color: #d6d6d6;
}

.main {
    width: 100%;
    min-height: calc(100vh - 90px);
    padding: 30px 30px;
}

.content-wrapper {
    margin: auto;
    max-width: 90%;
    height: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(145, 145, 145);
}